<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <context:property-placeholder properties-ref="deployProperties"/>

    <bean id="connectionFactoryLocator" class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
        <property name="connectionFactories">
            <list>
                <bean class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
                    <constructor-arg value="${facebook.clientId}"/>
                    <constructor-arg value="${facebook.clientSecret}"/>
                </bean>
                <bean class="org.springframework.social.twitter.connect.TwitterConnectionFactory">
                    <constructor-arg value="${twitter.consumerKey}"/>
                    <constructor-arg value="${twitter.consumerSecret}"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors"
          factory-method="noOpText"/>


    <!-- Declare a datasource that has pooling capabilities-->

    <!--<context:component-scan base-package="com.oceantech"/>-->
    <bean id="usersConnectionRepository" class="com.oceantech.koolping.service.SocialUserServiceImpl"/>

    <bean id="connectionRepository" factory-method="createConnectionRepository"
          factory-bean="usersConnectionRepository" scope="request">
        <constructor-arg value="#{request.userPrincipal.name}"/>
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>



    <bean class="org.springframework.social.connect.web.ConnectController">
        <!-- relies on by-type autowiring for the constructor-args-->
        <property name="applicationUrl" value="${site.url}"/>
    </bean>

    <bean class="org.springframework.social.connect.web.ProviderSignInController">
        <!-- relies on by-type autowiring for the constructor-args-->
        <property name="applicationUrl" value="${site.url}"/>
        <property name="signUpUrl" value="/signup"/>
        <property name="signInUrl" value="/login"/>
    </bean>
    <bean class="com.oceantech.koolping.social.ConnectionSignUpImpl"/>
    <bean class="com.oceantech.koolping.social.web.SignInAdapterImpl"/>
</beans>
