<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

    <persistence-unit name="koolpingPersistenceUnit">
        <class>com.oceantech.koolping.domain.model.identity.User</class>
        <class>com.oceantech.koolping.domain.model.SocialUser</class>
        <class>com.oceantech.koolping.domain.model.identity.UserId</class>
        <class>com.oceantech.koolping.domain.model.identity.UserRoles</class>
        <class>com.oceantech.koolping.domain.model.identity.Role</class>
        <class>com.oceantech.koolping.domain.model.identity.Email</class>
        <class>com.oceantech.koolping.domain.model.common.Country</class>
        <class>com.oceantech.koolping.domain.model.identity.Address</class>
        <class>com.oceantech.koolping.domain.model.restaurant.RestaurantCuisineType</class>
        <class>com.oceantech.koolping.domain.model.restaurant.Restaurant</class>
        <class>com.oceantech.koolping.domain.model.restaurant.ReviewRestaurant</class>
        <class>com.oceantech.koolping.domain.model.restaurant.ReviewRestaurantPK</class>
        <class>com.oceantech.koolping.domain.model.common.ReviewRating</class>


    </persistence-unit>

</persistence>